<ion-header>
    <ion-toolbar>
      <ion-title *ngIf="patient">{{patient.PAT_FNAME}} {{patient.PAT_LNAME}}</ion-title>
      <ion-button slot="start" fill="clear" color="primary" routerLink="/menu"><ion-icon name="arrow-back"></ion-icon>Back</ion-button>
      <ion-button slot="end" fill="clear" color="primary" (click)="pairClicked()"><ion-icon name="bluetooth"></ion-icon></ion-button>
    </ion-toolbar>
</ion-header>
  
  <ion-content padding>
    <div *ngFor="let history of historyList">
      <ion-card value="history">
        <ion-card-header>
          <ion-card-title>{{history.title}}</ion-card-title>
          <ion-card-subtitle>{{history.subtitle}}</ion-card-subtitle>
          <ion-chip *ngIf="history.isComplete" outline color="success">
            <ion-label>Complete</ion-label>
          </ion-chip>
          <ion-chip *ngIf="!history.isComplete" outline color="warning">
            <ion-label>Assigned</ion-label>
          </ion-chip>
          <ion-card-content>{{history.description}}</ion-card-content>
        </ion-card-header>
      </ion-card>
    </div>
  </ion-content>
  <ion-footer>
   
  </ion-footer>