<ion-header>
  <ion-toolbar>
    <ion-title>
      Tab Two
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
	<ion-card>
  <ion-card-header>
    <ion-card-subtitle>Hand data</ion-card-subtitle>
    <ion-card-title>Brandon was here</ion-card-title>
  </ion-card-header>

  <ion-card-content>
    Just playing with <b>ionic</b> to see how things work.
  </ion-card-content>
</ion-card>

<ion-card>
  <ion-item>
    <ion-icon name="snow" slot="start"></ion-icon>
    <ion-label>Bad snow</ion-label>
    <ion-button fill="outline" slot="end">
	auto shovel
    </ion-button>
  </ion-item>
  <ion-card-content>
    Hopefully it doesn't snow anymore. Too much shoveling...
  </ion-card-content>
</ion-card>

<ion-card>
  <ion-item href="#" class="primary">
    <ion-icon style="color:#FF00FF" name="planet" 
slot="start"></ion-icon>
    <ion-label>Out of this world!!!</ion-label>
  </ion-item>

  <ion-item class="activated">
    <ion-icon name="logo-tux" slot="start"></ion-icon>
    <ion-label>Linux anyone?</ion-label>
  </ion-item>

  <ion-item>
    <ion-icon style="color: #00F000;" name="bicycle" slot="start"></ion-icon>
    <ion-label style="color:orange;">How about a bike?</ion-label>
  </ion-item>

  <ion-item>
	<ion-icon name="logo-github" slot="end"></ion-icon>
	<ion-label>Gna try pushing</ion-label>
  </ion-item>
</ion-card>
</ion-content>
